<h1>Notifications</h1>
<div><%= public_notification_button(@app) %></div><br/>


<div class="col-md-12">
  <div class="row">
    <table class="table">
      <tr>
        <th>Created At</th>
        <th>Message</th>        
        <th>Sent</th>
        <th>Rejected</th>
        <th>Opened</th>        
        <th>Actions</th>
      </tr>
      <% @notifications.each do |n| %>
        <tr class="notification-row">
          <td><%= n.created_at %></td>
          <td><%= truncate(n.localized_notifications.first.message, :length => 50) if n.localized_notifications.first %></td>
          <td><%= n.sent_count %></td>
          <td><%= n.sent_count - n.gateway_accepted_count %></td>
          <td><%= n.opened_count %></td>      
          <td><%= notification_statuses_button(n) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= paginate @notifications, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
