<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<div class="row"><div class="col-md-4">

<h3>
  <% if @user %>
    <span class="glyphicon glyphicon-envelope"></span>
    Send Private Notification  
  <% else %>
    <span class="glyphicon glyphicon-bullhorn"></span>
    Send Public Notification    
  <% end %>
</h3>

<%= simple_form_for [:admin, @account, @app, @notification] do |f| %>
  
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } if @user %>

  <%= f.simple_fields_for :localized_notifications do |n| %>
    <%= n.input :locale, collection: @regions, include_blank: false, label: "Country" %>
    <%= n.input :message %>
    <%= n.input :params %>
  <% end %>
  <hr/>
  
  <h4>Scheduled Time (UTC)</h4>
  <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" name="schedule_at" />
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
  </div>
  
  <h4>Filters</h4>
  <%= f.simple_fields_for :device_token_filters do |n| %>
    <% NotifiableAdmin.custom_device_token_properties.each_pair do |k, v| %>
      <%= n.input k, :as => v %>
    <% end %> 
  <% end %>
  
  <hr/>

  <%= f.submit "Send", :class => "btn btn-default" %>    
  
<% end %>


</div></div>