<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<div class="row"><div class="col-md-8">

<h1>Compose Notification</h1>

<%= simple_form_for [:admin, @account, @app, @notification] do |f| %>
  
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } if @user %>

  <%= f.simple_fields_for :localized_notifications do |n| %>
    <h2><%= ISO::Language.find(n.object.locale.to_s).name %></h2>
    <%= n.input :locale, :as => :hidden %>
    <%= n.input :message %>
    <%= n.input :params, :as => :string %>
    <hr/>
  <% end %>
  
  <h2>Schedule</h2>
  <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" name="schedule_at" />
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
  </div>
  
  <h2>Filters</h2>
  <%= f.simple_fields_for :device_token_filters do |n| %>
    <% @app.custom_device_properties.each do |p| %>
      <%= n.input p, :as => :select %>
    <% end %> 
  <% end %>
  <hr/>

  <%= f.submit "Send", :class => "btn btn-default" %>    
  
<% end %>


</div></div>