<div class="row"><div class="col-md-8">

<%= simple_form_for [:admin, @account, @app] do |f| %>

  <%= f.input :name, :placeholder => "My Awesome App", :hint => "The name of your App." %>
  
  <%= f.input :save_notification_statuses?, :as => :boolean, :label => "Save Notification Receipts", :hint => "Saving notification reciepts gives you a full audit trail, but can mean notifications are sent more slowly." %>

  <%= f.input :custom_device_properties_s, :label => "Custom Properties", :placeholder => "tags,latitude,longitude", :hint => "A comma separated list of custom properties for a device." %>

  <h1>Apple Push Notification Service</h1>

  <%= f.input :apns_certificate, :as => :text, :placeholder => "Certificate text", :label => "Certificate", :hint => "The certificate for APNS. Can be extracted using `openssl pkcs12  -in exported_certificate.p12  -nodes -clcerts | pbcopy`." %>
  
  <%= f.input :apns_passphrase, :label => "Passphrase", :placeholder => "Strong passphrase", :hint => "The passphrase for your certificate. Leave blank if no passphrase has been used." %>
  
  <%= f.input :apns_sandbox, :as => :boolean, :label => "Use Sandbox Service", :hint => "Use the APNS sandbox if checke. Use the production service if unchecked." %>
  
  <h1>Google Cloud Messaging Service</h1>

  <%= f.input :gcm_api_key, :placeholder => "AFzaSyCxydJ0vWfUoT579gOKuKXr2ro-t5ekTB7", :label => "API Key", :hint => "Your GCM API Key, issued by Google." %>
  
  <%= f.submit "Save", :class => "btn btn-default" %>    

<% end %>

</div></div>