<div class="row"><div class="col-md-4">

<%= simple_form_for [:admin, @account, @app] do |f| %>

  <%= f.input :name %>

  <h4>APNS</h4>

  <%= f.input :apns_certificate, :as => :text, :label => "APNS Certificate" %>
  
  Export from keychain and use <code>openssl pkcs12 -in Certificates.p12 -out certificate.pem -nodes -clcerts</code>
  
  <%= f.input :apns_passphrase, :label => "APNS Passphrase" %>
  
  <%= f.input :apns_sandbox, :as => :boolean, :label => "APNS Sandbox" %>
  
  <h4>GCM</h4>
  
  <%= f.input :gcm_api_key, :label => "GCM API Key" %>

  <hr/>
  
  <%= f.submit :class => "btn btn-default" %>    

<% end %>

</div></div>