<div class="row"><div class="col-md-4">

<%= simple_form_for [:admin, @account, @app] do |f| %>

  <%= f.input :name %>

  <%= f.input :apns_certificate, :as => :text, :label => "APNS Certificate", :hint => "openssl pkcs12  -in exported_certificate.p12  -nodes -clcerts | pbcopy" %>
  
  <%= f.input :apns_passphrase, :label => "APNS Passphrase" %>
  
  <%= f.input :apns_sandbox, :as => :boolean, :label => "APNS Sandbox" %>
    
  <%= f.input :gcm_api_key, :label => "GCM API Key" %>
  
  <%= f.submit :class => "btn btn-default" %>    

<% end %>

</div></div>