<div class="row"><div class="col-md-4">

<%= simple_form_for [:admin, @account, @app] do |f| %>

  <%= f.input :name, :hint => "The name of the App" %>

  <%= f.input :custom_device_properties_s, :label => "Custom Properties", :placeholder => "tags,latitude,longitude", :hint => "A comma separated list of custom properties for a device" %>

  <%= f.input :apns_certificate, :as => :text, :label => "APNS Certificate", :hint => "openssl pkcs12  -in exported_certificate.p12  -nodes -clcerts | pbcopy" %>
  
  <%= f.input :apns_passphrase, :label => "APNS Passphrase" %>
  
  <%= f.input :apns_sandbox, :as => :boolean, :label => "APNS Sandbox" %>
    
  <%= f.input :gcm_api_key, :label => "GCM API Key" %>
  
  <%= f.submit "Save", :class => "btn btn-default" %>    

<% end %>

</div></div>