<% @user_api_users.each do |u| %>
  <script>
    $(document).ready(function() {
      var clip = new ZeroClipboard($("#clip_button-<%= u.id %>"))
    });
  </script>
<% end %>

<h1>User API Keys <%= add_button new_admin_account_user_api_user_path(@account) %></h1>
<div class="col-md-12">
  <div class="row">
    <table class="table">
      <tr>
        <th>Service Name</th>
        <th>App</th>
        <th>Access ID</th>
        <th>Secret Key</th>
        <th>Action</th>
      </tr>
      <% @user_api_users.each do |u| %>
        <tr class="user-api-user-row">
          <td><%= u.service_name %></td>
          <td><%= u.app.name %></td>
          <td><%= u.access_id %></td>
          <td><%= copy_button "clip_button-#{u.id}", "Copy to Clipboard", u.secret_key %></td>
          <td><%= delete_button admin_account_user_api_user_path(@account, u) %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= paginate @user_api_users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>