<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= admin_account_path(@current_admin.account) %>"><%= @account.name %></a>
  </div>
  <div class="navbar-collapse collapse">        
    <ul class="nav navbar-nav">
      <% if @app && !@app.new_record? %>
        <%= app_navbar_item(@app) %>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "Notifications" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">  
            <%= app_send_public_notification_navbar_item %>
            <li role="separator" class="divider"></li>
            <%= app_jobs_navbar_item  %>
            <%= notifications_navbar_item %>
          </ul>
        </li>
          
        <%= app_users_navbar_item  %>
        <%= edit_app_navbar_item %>        
        
      <% end %>

    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "Developer" %> <b class="caret"></b></a>
        <ul class="dropdown-menu">  
          <%= notification_api_keys_navbar_item  %>
          <%= user_api_keys_navbar_item  %>
          <%= api_documentation_navbar_item  %>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
        <ul class="dropdown-menu">
          
          <%= new_app_navbar_item %>
          
          <% if @apps.count > 0 %>
            <li role="separator" class="divider"></li>
                    
            <% @apps.each do |app| %>
              <%= app_navbar_item(app) %>        
            <% end %>
          <% end %>
        </ul>
      </li>

      <%= admins_navbar_item %>
      <%= logout_navbar_item %>    
    </ul>
  </div>
</div>