<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Notifiable</title>

    <%= stylesheet_link_tag    "notifiable_admin/main", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "notifiable_admin/main", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <%= yield(:header) %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render "layouts/#{current_admin.role}_navbar"%>

    <% if Rails.env.production? %>
      <div class="alert alert-danger" style="text-align: center;">
        WARNING - PRODUCTION SYSTEM.
      </div>
    <% end %>

    <div class="container">
      
      <%= render "layouts/messages" %>
      
      <%= yield %>

    </div>
    
    <%= render "layouts/footer" %>
  </body>  
</html>
